{% extends 'account_creator/base.html'%}

{% load crispy_forms_tags %}


{% block title %}

{% endblock %}



{% block content %}
<br>
<br>

<div class="col d-flex justify-content-center">



    <div class="form" style="width: 28rem;">

        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success" name="Create User">Confirm</button>
            {% for message in messages %}
            <p id="messages"> {{message}}</p>
            {% endfor %}

        </form>

    </div>






</div>

{% endblock %}