{% extends 'account_creator/base.html'%}

{% load crispy_forms_tags %}


{% block title %}

{% endblock %}



{% block content %}
<br>
<br>

<div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Account Manager</h5>
            <p class="card-text">Welcome {{request.session.username}}! Here you can, change personal information and
                delete your account in navabar!</p>

        </div>
    </div>
</div>


{% endblock %}